* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-color: blue;
  color: #fff;
}

.container {
 
  max-width: 1200px;
  margin: auto;
}

header {
  padding: 20px 0;
  background-color: blue;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #47b2e4;
}

.btn {
  background-color: #47b2e4;
  padding: 10px 20px;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #209dd8;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  color: #cfd8e0;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.video-btn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
}